<footer>

    <div class="footer" id="footer">

        <div class="container">

            <div class="row">

                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">

                    <h3> Member </h3>

                    <ul>

                        <li> <a href="#"> Cui Bo</a> </li>

                        <li> <a href="#"> Wes Zhu </a> </li>

                        <li> <a href="#"> Anh Bui</a> </li>

                    </ul>

                </div>

                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">

                    <h3> Services </h3>

                    <ul>

                        <li> <a href="#"> Frontend </a> </li>

                        <li> <a href="#"> Backend </a> </li>

                        <li> <a href="#"> HR </a> </li>

                        <li> <a href="#"> Manager </a> </li>

                        <li> <a href="#"> SQL </a> </li>

                    </ul>

                </div>

                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">

                    <h3> About </h3>

                    <ul>

                        <li> <a href="#"> Our Company </a> </li>

                        <li> <a href="#"> About Us </a> </li>

                        <li> <a href="#"> Terms of Services </a> </li>

                        <li> <a href="#"> Our Team </a> </li>

                    </ul>

                </div>

                <!-- <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

                    <h3> Contact </h3>

                    <ul>

                        <li> <a href="#"> Contact Marketing </a> </li>

                        <li> <a href="#"> Contact Sales </a> </li>

                        <li> <a href="#"> Contact HR </a> </li>

                        <li> <a href="#"> Contact Admin </a> </li>

                    </ul>

                </div> -->

                <div class="to-mid">

                    <ul class="social">

                        <li> <a (click)="onNavigateLinkedIn()"> <i class="fa fa-linkedin"></i> </a> </li>

                        <li> <a (click)="onNavigateMonster()"> <i class="fa fa-optin-monster"></i> </a> </li>

                        <li> <a (click)="onNavigateGoogle() "> <i class=" fa fa-google-plus"> </i> </a> </li>

                        <li> <a (click)="onNavigateTwitter()"> <i class="fa fa-twitter"></i> </a> </li>

                        <li> <a (click)="onNavigateYoutube()"> <i class="fa fa-youtube"> </i> </a> </li>

                    </ul>

                </div>

            </div>

            <!--/.row-->

        </div>

        <!--/.container-->

    </div>

    <!--/.footer-->



    <div class="footer-bottom">

        <div class="container">

            <p class="pull-left"> Copyright © 2020. All rights reserved. </p>

            <!-- <div class="pull-right"> -->

            <!-- <ul class="nav nav-pills payments">

                    <li>We Accept: </li>

                    <li><i class="fa fa-cc-paypal"></i></li>

                    <li><i class="fa fa-cc-mastercard"></i></li>

                    <li><i class="fa fa-cc-amex"></i></li>

                    <li><i class="fa fa-cc-visa"></i></li>

                </ul> -->

            <!-- </div> -->

        </div>

    </div>

    <!--/.footer-bottom-->

</footer>