  <h3>>My interviews</h3>
  <br>
  <h3>My interviews</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" (click)="change()">Create New Interview</button>
      </div>
    </div>


<div *ngFor="let interviewgroup of interviews;let i=index;">
  <ul class="list-group">
    <div *ngIf="!isShows(i)" >
  <div [ngSwitch]="interviewgroup[interviewgroup.length-1].interviewStatus" >
  <li *ngSwitchCase="'Pass'" class='list-group-item list-group-item-success'>
    <button (click)="expand(i)"><i class="fas fa-plus"></i></button>
    Candidate Name: {{ interviewgroup[interviewgroup.length-1].intervieweeFirstName
    +' '+interviewgroup[interviewgroup.length-1].intervieweeLastName }}|
        Round: {{ interviewgroup[interviewgroup.length-1].sequence }}
  </li>
  <li *ngSwitchCase="'Fail'" class='list-group-item list-group-item-secondary'>
    <button (click)="expand(i)"><i class="fas fa-plus"></i></button>
    Candidate Name: {{ interviewgroup[interviewgroup.length-1].intervieweeFirstName
      +' '+interviewgroup[interviewgroup.length-1].intervieweeLastName }}|
          Round: {{ interviewgroup[interviewgroup.length-1].sequence }}
      </li>
  <li *ngSwitchCase="'Pending'" class='list-group-item'>
    <button (click)="expand(i)"><i class="fas fa-plus"></i></button>
    Candidate Name: {{ interviewgroup[interviewgroup.length-1].intervieweeFirstName
      +' '+interviewgroup[interviewgroup.length-1].intervieweeLastName }}|
          Round: {{ interviewgroup[interviewgroup.length-1].sequence }}
        </li>
</div>
</div>

 <li class="list-group-item" *ngIf="isShows(i)">
  <button (click)="collapse(i)"><i class="fas fa-minus"></i></button>
 </li>
</ul>

  <div *ngIf="isShows(i)">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Round</th>
      <th scope="col">Interview Date</th>
      <th scope="col">Interview Time</th>
      <th scope="col">Interview Duration</th>
      <th scope="col">Interviewee</th>
      <th scope="col">Interviewer</th>
      <th scope="col">Rating</th>
      <th scope="col">comments</th>
      <th scope="col">Resume</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let interview of interviewgroup; let j=index;">
  <tr [ngClass]="{ 'table-success':interview.interviewStatus==='Pass',
  'table-secondary':interview.interviewStatus==='Fail'}">
  <ng-container *ngIf="interview.id!==-1; else formRow">
    <td >{{ interview.id }}</td>
    <td>{{ interview.sequence }} </td>
    <td>{{string2Date(interview.interviewStartDateTime)| date:'MM-dd-yyyy'}}</td>
    <td>{{string2Date(interview.interviewStartDateTime)| date:'HH:mm:ss'}}</td>
    <td>{{ interview.interviewDuration }}</td>
    <td>{{ interviewgroup[interviewgroup.length-1].intervieweeFirstName
      +' '+interviewgroup[interviewgroup.length-1].intervieweeLastName }} </td>
    <td>{{ interviewgroup[interviewgroup.length-1].interviewerFirstName
      +' '+interviewgroup[interviewgroup.length-1].interviewerLastName }}  </td>
    <td>{{ interview.overallRating }}</td>
    <td>{{ interview.comment }}</td>
    <td><i class="fas fa-download"></i></td>
    <div *ngIf="j===interviewgroup.length-1">
      <td>
      <select (change)="changeStatus($event,interview.id)">
        <option value="Fail" [selected]="interview.interviewStatus==='Fail'" >Fail</option>
        <option value="Pass" [selected]="interview.interviewStatus==='Pass'">Pass</option>
        <option value="Pending" [selected]="interview.interviewStatus==='Pending'">Pending</option>
      </select>
    </td>
  </div>
  <div *ngIf="!(j===interviewgroup.length-1)">
    <td>
      {{ interview.interviewStatus}}
  </td>
  </div>
  </ng-container>
  <ng-template #formRow>
    <td>?</td>
    <td>{{ interview.sequence }} </td>
    <td> <input size='1' type="text" ngbDatepicker #d="ngbDatepicker" [formControl]="date">
      <button (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button></td>
    <td>      <label>
      Hour:
      <input size='2' type="text" [formControl]="hour">
    </label>
    <label>
      Minute:<input size='2' type="text" [formControl]="minute"></label></td>
    <td><input size='2' type="text" (input)="interview.interviewDuration = $event.target.value" [value]= "interview.interviewDuration" > </td>
    <td><input type="text" size='6' (input)="interview.intervieweeFirstName = $event.target.value" [value]= "interview.intervieweeFirstName" >
    <input type="text" size='6' (input)="interview.intervieweeLastName = $event.target.value" [value]= "interview.intervieweeLastName" > </td>
    <td><input type="text" size='6' (input)="interview.interviewerFirstName = $event.target.value" [value]= "interview.interviewerFirstName" >
      <input type="text" size='6' (input)="interview.interviewerLastName = $event.target.value" [value]= "interview.interviewerLastName" > </td>
    <td><input type="text" size='2' (input)="interview.overallRating = $event.target.value" [value]= "interview.overallRating" > </td>
    <td><input type="text" size='5' (input)="interview.comment = $event.target.value" [value]= "interview.comment" > </td>
    <td><i class="fas fa-download"></i></td>
    <td>Pending<button (click)="storeInterview(-1)">save</button></td>
  </ng-template>
  </tr>
</ng-container>
  </tbody>
</table>
</div>
</div>
