<div class="modal-header">
  <h4 class="modal-title">Add New Candidate</h4>
  <button type="button" class="close" aria-label="Close" (click)="newCandidateModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newCandidateForm" >
    <div class="form-group">
      <label>
        First Name:
        <input type="text" formControlName="firstName">
      </label>
    </div>
    <div class="form-group">
      <label>
        Last Name:
        <input type="text" formControlName="lastName">
      </label>
    </div>
    <div class="form-group">
      <label>
        Email:
        <input type="text" formControlName="email">
      </label>
    </div>
    <div class="form-group">
      <label>
        Email Template:
        <select formControlName="emailTemplateName" (change)="createNewTemplate()">
          <ng-container *ngFor="let template of templates">
          <option [value]="template" >{{template}}</option>
        </ng-container>
        <!-- <option value="BackEnd" >BackEnd</option> -->
        <option value="new" >Create New</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>
        Cell Phone:
        <input type="text" formControlName="cellPhone">
      </label>
    </div>
    <div class="form-group">
      <label>
        Position Name:
        <select formControlName="positionName">
          <ng-container *ngFor="let position of positions">
          <option [value]="position" >{{position}}</option>
        </ng-container>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>
        Resource:
        <input type="text" formControlName="resource">
      </label>
    </div>
    <div class="form-group">
      <label>
        Comments:
        <input type="text" formControlName="comment">
      </label>
    </div>
    <!-- <div class="form-group">
      <label>
        Resume File Location:
        <input type="text" formControlName="resumeFileLocation">
      </label>
    </div> -->
    </form>
    <div>
      <input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>
      <div class="drop-box" ng2FileDrop
           [ngClass]="{'dragover': isDropOver}"
           [uploader]="uploader"
           (fileOver)="fileOverAnother($event)"
           (click)="fileClicked()">
        <span class="drag-in-title">Import or drag file here</span>
        <span class="drag-over-title">Drop the file</span>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="submit()">Submit</button>

</div>
