<form [formGroup]="profileForm" >
  <h3>>My interviews</h3>
  <br>
  <h3>My interviews</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Interview Date</th>
      <th scope="col">Interview Time</th>
        <th scope="col">Interview Duration</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Interviewer</th>
        <th scope="col">CellPhone</th>
        <th scope="col">PositionName</th>
        <th scope="col">Resume</th>
    </tr>
    </thead>
    <tbody>
  <tr *ngFor="let candidate of temp()"  (click)="onUpdate(candidate.positionName)"
  [ngClass]="{'table-dark':outOfDate(candidate.interviewStartDateTime)}">
    <td>{{ string2Date(candidate.interviewStartDateTime)| date:'MM-dd-yyyy'}}</td>
    <td>{{ string2Date(candidate.interviewStartDateTime)| date:'HH:mm:ss'}}</td>
    <td>{{ candidate.interviewDuration }} </td>
    <td>{{ candidate.firstName }} </td>
    <td>{{ candidate.lastName }} </td>
    <td>{{ candidate.interviewerFirstName+' '+candidate.interviewerLastName}} </td>
    <td>{{ candidate.cellPhone }} </td>
    <td>{{ candidate.positionName }} </td>
    <td><button (click)="$event.stopPropagation();downloadFileSystem(candidate.resumeFileLocation)"><i class="fas fa-download"></i></button></td>
  </tr>
    </tbody>
</table>
</form>
<button (click)="next()" [hidden]="page+20>=candidates.length" class="btn btn-primary">next</button>
<button (click)="previous()" [hidden]="page==0" class="btn btn-primary"> previous</button>

<button *ngFor="let i of getPages()" (click)="jump(i)" class="btn btn-link">
{{i}}
</button>







